@import './base/base';

.friendsWishlistsOutterContainer {
  max-width: 500px;
  min-height: 700px;
  margin:70px auto;
  padding-top: 30px;
  padding-bottom: 130px;
  background-color: $backgroundColor;
  text-align: center;
}

.friendsWishlistsInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6%;
}

.friendWishlist {
  height: 250px;
  width: 45%;
  background-color: $activePageOrModalColor;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: inset 0 0 10px $navBarBackground;
          box-shadow: inset 0 0 10px $navBarBackground;
}

.friendWishlistTitle {
  color: $textColor;
  padding-top:30%;
}

a:link {
    text-decoration: none;
}
